# ------------------------
# Python
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
*.egg-info/

# ------------------------
# Models
# ------------------------
models/cnn_model.h5

# ------------------------
# Output files
# ------------------------
outputs/
*.png
*.jpg

# ------------------------
# IDEs
# ------------------------
.vscode/
.idea/

# ------------------------
# System files
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Jupyter
# ------------------------
.ipynb_checkpoints/